################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarController/.vs
/CarController/bin
/CarController/obj
/TestController/bin
/TestController/obj
/.vs/microbitcar/DesignTimeBuild/.dtbcache
/.vs

