################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarController/.vs/CarController/v15/Server/sqlite3
/CarController/.vs/CarController/DesignTimeBuild/.dtbcache
/CarController/.vs/CarController/v15/.suo
/CarController/bin/Debug/netstandard2.0
/CarController/obj/Debug/net45
